@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (max-width: 1090px){

    h1 {
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1.1rem;
    }

    p {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
        text-align: center;
    }

    .box span {
        font-size: 0.9rem;
    }

    li {
        font-size: 0.9rem;
    }
}
@media (max-width: 800px) {
    .box {
        flex-direction: column;
        align-items: center;
    }
    .box span {
        width: 100%;
        margin-bottom: 10px;    
    }
}
body {
    background-image: url(image0.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    font-family: "Bona Nova SC", serif;
    font-size: 1.2rem;
    color: #02011e;
}

header {
    background-color: #120f21;
    text-align: center;
}

.logo{
    display: flex;
    justify-content: center;
}

img {
    height: 150px;
}

.container {
    padding-top: 20px;
    margin: 20px auto;
    background-color: rgba(250, 249, 246, 0.8);
    width: 80%;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: top center;
    align-items: center;
}

.box {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container2 {
    padding-left: 60px;
    text-align: left;
    display: block;
    width: 100%;
    padding-bottom: 30px;
}


span {
    padding: 40px;
    text-align: center;
}

p {
    padding-top: 40px;
    padding-left: 30px;
    text-align: left;
    display: block;
    width: 100%;
    font-weight: bold;
}

.ul-style1 li  {
    list-style-type: circle;
}

.ul-style2 li {
    list-style-type: none;
}

a {
text-decoration: none;
color: #02011e;
}
